@model IEnumerable<Project_API.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Categories", new{CategoryId = @item.CategoryId})">Edit</a> |
                <a href="@Url.Action("Delete", "Categories", new {CategoryId = @item.CategoryId})">Delete</a>
            </td>
        </tr>
}   
    </tbody>
</table>
<div class="text-left"><a href="@Url.Action("Create","Categories")">Add new Category</a></div>

