@model Project_API.DTO.ArticleDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Articles" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArticleId" value="@Model.ArticleId" />
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" style="margin-bottom:20px" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Content</p>
                <textarea asp-for="Content" class="form-control" style="height:150px;width:400px; ;margin-bottom:20px"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" style="margin-bottom:20px" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditDate" class="control-label"></label>
                <input asp-for="EditDate" class="form-control" style="margin-bottom:20px" />
                <span asp-validation-for="EditDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control" style="margin-bottom:20px" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="View" class="control-label"></label>
                <input asp-for="View" class="form-control" style="margin-bottom:20px" />
                <span asp-validation-for="View" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Summary</p>
                <textarea asp-for="Summary" class="form-control" style="height:100px;width:400px; ;margin-bottom:20px"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <p>Categories</p>
                @foreach(var item in Model.Categories)
                {
                    <input value="@item.CategoryName" name="@item.CategoryId" class="form-control" style="margin-bottom:20px" />
                    <input value="@item.CategoryName" name="@item.CategoryId" class="form-control" style="margin-bottom:20px" />
                    <span asp-validation-for="@item.CategoryName" class="text-danger"></span>
                }
               
            </div> 
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Detail","Articles",new {articleId = Model.ArticleId})">Back to Details</a>
</div>

