@model IEnumerable<Project_API.Models.Article>

@{
    ViewData["Title"] = "Index";
}




    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">

                @foreach (var item in Model) {
                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-1.jpg');">
                    <div class="img-bg-inner">
                      <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                      <p>@Html.DisplayFor(modelItem => item.Summary)</p>
                    </div>
                  </a>
                </div>
              }
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= Post Grid Section ======= -->
    <section>
      <div class="container">
        <div class="row">

          <div class="col-md-9" data-aos="fade-up">
            
              @foreach (var item in Model) {
            <div class="d-md-flex post-entry-2 half">
              <a href="single-post.html" class="me-4 thumbnail">
                <img src="assets/img/post-landscape-6.jpg" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>@Html.DisplayFor(modelItem => item.CreateDate)</span></div>
                <h3><a href="single-post.html">@Html.DisplayFor(modelItem => item.Title)</a></h3>
                <p>@Html.DisplayFor(modelItem => item.Summary)</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">@Html.DisplayFor(modelItem => item.User.Username)</h3>
                  </div>
                </div>
              </div>
            </div>
            }
           

            <div class="text-start py-4">
              <div class="custom-pagination">
                <a href="#" class="prev">Prevous</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" class="next">Next</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">

              <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Popular</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">Trending</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="false">Latest</button>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">

                <!-- Popular -->
                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                    @foreach (var item in Model) {
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Sport</span> <span class="mx-1">&bullet;</span> <span>@Html.DisplayFor(modelItem => item.CreateDate)</span></div>
                    <h2 class="mb-2"><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h2>
                    <span class="author mb-3 d-block">@Html.DisplayFor(modelItem => item.User.Username)</span>
                  </div>
                    }
                  
                </div> <!-- End Popular -->

                <!-- Trending -->
                <div class="tab-pane fade" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">
                  @foreach (var item in Model) {
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Sport</span> <span class="mx-1">&bullet;</span> <span>@Html.DisplayFor(modelItem => item.CreateDate)</span></div>
                    <h2 class="mb-2"><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h2>
                    <span class="author mb-3 d-block">@Html.DisplayFor(modelItem => item.User.Username)</span>
                  </div>
                    }

                 
                </div> <!-- End Trending -->

                <!-- Latest -->
                <div class="tab-pane fade" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
                  @foreach (var item in Model) {
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Sport</span> <span class="mx-1">&bullet;</span> <span>@Html.DisplayFor(modelItem => item.CreateDate)</span></div>
                    <h2 class="mb-2"><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h2>
                    <span class="author mb-3 d-block">@Html.DisplayFor(modelItem => item.User.Username)</span>
                  </div>
                    }
                </div> <!-- End Latest -->

              </div>
            </div>

            <div class="aside-block-a">
              <h3 class="aside-title">Categories</h3>
              <ul class="aside-links list-unstyled">
                <li><a href="#"><i class="bi bi-chevron-right"></i> Business</a></li>
              </ul>
            </div><!-- End Categories -->

          </div>

        </div>
      </div>
    </section>
    </section> <!-- End Post Grid Section -->

  <script>
        $(document).ready(function() {
            loadCategories();
           
            function loadCategories() {
                $.ajax({
                    url: 'http://localhost:5071/api/Category/GetAllCategory',
                    type: "get",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(result, status, xhr) {
                        var categoryList = '';
                        $.each(result, function(index, value) {
                            // Cập nhật nội dung của <div> chứa danh sách category
                            categoryList += '<li><a href="#" onclick="getCategoryById(' + value.categoryId + ')">' + value.categoryName + '</a></li>';
                        });
                        $('.aside-block-a ul').html(categoryList);
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr);
                    }
                });
            }
        });
          function getCategoryById(categoryId) {
                $.ajax({
                    url: 'http://localhost:5071/api/Category/GetCategoryById/Id?id=' + categoryId,
                    type: "get",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(result, status, xhr) {
                        // Xử lý kết quả trả về từ API
                        window.location.href = "/Categories/Index";
                        console.log(result);
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr);
                    }
                });
             }


    </script>




